/* body {
  background-color: black;
} */
.d {
  background-color: rgba(21, 255, 0, 0.733);
}
.h {
  margin-left: 150px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

.in {
  border: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  margin-top: 5px;
}
#n {
  margin-left: 73px;
}
#fn {
  margin-left: 25px;
}
#em {
  margin-left: 78px;
}
#mn {
  margin-left: 5px;
}
#add {
  margin-left: 60px;
}
.b {
  border: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 135px;
  margin-top: 5px;
}
