body {
  background-color: rgba(1, 1, 250, 0.63);
}
.home {
  width: 100%;
  height: calc(100vh -100px);
  display: flex;
  justify-content: center;
}

.heading {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 7vh;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  bottom: 20%;
  font-size: 1.5rem;
}

.Paymentmethod {
  background-color: rgb(255, 255, 255);
}
.pm {
  text-align: center;
  font-size: 20px;
}
.payment-method-image {
  width: 150px;
  /* display: flex; */
  height: auto;
  margin: 0 15px;
}
.products {
  margin-top: 40px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.crd {
  height: 300px;
}
