.footer{
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  padding: 20px 0;
}
.footer-col{
  margin-bottom: 20px;
}
.footer-col h5{
  margin-top: 0;
}
.copyright{
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.icons{
 
}
@media (max-width: 768px){
  .footer-col{
    margin-bottom: 10px;
  }
}
